export(addSimAlleles)
export(dyeToColor)
export(findPCRprob)
export(generateEPG)
export(generateEPGgui)
export(pcrsim)
export(simPCR)
export(simPCRexplorer)
export(simulateProfile)
import(data.table)
import(ggplot2)
import(gWidgets)
import(RGtk2)
import(strvalidator)
